on:
    workflow_dispatch:
  
  
name: Deploy Dash
  
jobs:
    updade-data:
        runs-on: ubuntu-latest
        permissions:
        # Give the default GITHUB_TOKEN write permission to commit and push the
        # added or changed files to the repository.
            contents: write
        steps:
        # that installs R on the machine
        - name: Set up R
          uses: r-lib/actions/setup-r@v2
          with:
            # The R version to download (if necessary) and use.
            r-version: '4.3.3'
            # uses the RStudio Package Manager
            use-public-rspm: true

        - name: Install required system dependencies
          run: |
            sudo apt-get update -qq
            sudo apt-get install -y libudunits2-dev libharfbuzz-dev libfribidi-dev libtiff5-dev

        - name: Install required R packages
          run: |
            Rscript -e 'install.packages(c("ggplot2", "geobr", "plotly", "stringr", "ragg", "httr", "rsconnect", "shiny", "quarto",
                                           "cpp11", "systemfonts", "textshaping", "tidyr", "bslib"), repos="https://cran.r-project.org")'
    
                                           
        # to access the code inside our repository
        - name: Check out repository
          uses: actions/checkout@v4

        # exec script
        - name: Set up Quarto
          uses: quarto-dev/quarto-actions/setup@v2

        - name: Render Quarto Project
          run: quarto render dash.qmd

        # deploy
        - name: deploy
          run: Rscript -e 'source("deploy.R")'
          env:
            NAME: ${{ vars.NAME }}
            TOKEN: ${{ secrets.TOKEN }}
            SECRET: ${{ secrets.SECRET }}


        - name: Set current date as env variable
          run: echo "NOW=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV
        - name: Echo current date
          run: echo $NOW 

        # Commit all changed files back to the repository
        - uses: stefanzweifel/git-auto-commit-action@v5
          with:
            commit_message: data updated ${{ env.NOW }}